body{

    background-color:#61a6ab;

}

.cabecalho{
    border-radius: 15px;
    background-color:#accec0;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.cabecalho > h1{
    text-decoration: underline;
    padding: 30px;
}
.menu{
  
    text-align: center;
    font-size: 25px;
}

.navegacao{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  margin: 0 50px 50px 50px;
  padding-right: 30px;

}

.navegacao > a{
    padding: 7px;
    margin: 2px;
    border-radius: 18px 0 18px 0;
    background-color: rgb(158, 255, 255);
    color: rgb(4, 5, 5);
    margin-right: 10px;

}
.navegacao >a:hover{
    translate: 1,5s;
    background-color: rgb(41, 34, 34);
    color: rgb(185, 172, 172);
}

.titulo2{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color:#accec0;

}
.titulo2 > h2{
    text-decoration: underline;
}
.texto{
  
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color:#accec0;
   text-align: left;
}


.perfis > img{
    border-radius: 20px;
    width: 15px;
    height: 15px;
}
.perfis > a{
    
    padding: 1px;
    margin: 5px;
    background-color:  rgb(158, 255, 255);
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.perfis > a:hover{
    color:  rgb(255, 255, 255);
    padding: 1px;
    margin: 5px;
    background-color:  rgb(41, 34, 34);
    border-radius: 15px;
}