
* {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}
body {
   
    background-image: linear-gradient(to right, rgb(17, 17, 199),orange );
}
main{
 
    border-radius: 10px;
    background-color: rgb(10, 216, 199);
    box-shadow: 9px 9px 15px rgba(19, 11, 6, 0.678);
    min-width:350px;
    max-width: 850px;
    padding: 10px;
    display:block;
    margin: auto;
}
h1{
    margin: 5px;
    padding: 3px ;
    text-decoration: underline;
    color: #F39209;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(22, 12, 6, 0.678);

}

h1:hover{
  
    background-color: #125189;
    padding: 3px;
    border-radius: 0px 100px 0px 100px;
    color: white;
    text-decoration: underline;
    transition: 2s;

}

h2{
    text-align: center;
    color: #125189;
}
p{
    text-align: justify;
    text-indent: 20px;
}