

*{
    height: 100%;
    min-height: 400px;
  max-width: 100%;
   
}
body {
    background-image: linear-gradient(to right, #125189,#F39209);
}
main{
    
    border-radius: 10px;
    background-color: rgb(247, 234, 234);
    box-shadow: 9px 9px 15px rgba(19, 11, 6, 0.678);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-decoration: underline;
color: #F39209;
text-align: center;
text-shadow: 2px 2px 0px rgba(22, 12, 6, 0.678);

}
h2{
    text-align: center;
    color: #125189;
}
p{
    text-align: center;
}